@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Jersey 25", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

/* ===== HEADER ===== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 15px 50px;
  background-color: #0060C0;
  position: sticky;
  top: 0;
  z-index: 100;
}

header img {
  width: 120px;
  height: 120px;
}

nav{
  flex: 1;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

nav a:hover {
  transform: scale(1.1);
}

/* ===== FOOTER ===== */

footer {
  background-color: #0060C0;
  color: white;
  text-align: center; 
  padding: 20px 0; 
  margin-top: 40px; 
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}

footer p {
  margin: 0; /* tira a margem padrão do parágrafo */
  font-size: 1rem; /* tamanho confortável */
  letter-spacing: 1px; /* um charme extra */
}

/*==================== INDEX ====================*/

/* ===== BANNER ===== */
.baner {
  background: #0080FF;
  margin: 10px auto;
  width: 90%;
  max-width: 600px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 50px;
}

.baner h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

/* ===== TEXTO ABAIXO DO BANNER ===== */
 .home h2 {
  text-align: center;
  font-size: 1.8rem;
  color: black;
}

.home > h1{
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin-top: 20px;
}

/* ===== CARDS ===== */
.grupo-de-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 0 50px 80px;
}

.card {
  background-color: #0060C0;
  border-radius: 15px;
  text-align: center;
  box-shadow: 8px 4px 10px #001d39;
  width: 100%;
  max-width: 300px;
  height: 5000px;
}

.card img {
  width: 100%;
  height: 290px;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.card button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-family: inherit;
}

.card button:hover {
  background-color: white;
  transform: scale(1.05);
}

/* ===== CARROSSEL ===== */
.carrossel {
  position: relative;
  width: 100%;    /* largura da viewport */
  height: 200px;   /* altura total da tela */
  overflow: hidden;
}

/* As imagens ficam lado a lado */
.slides {
  display: flex;
  transition: transform 0.6s ease;
  height: 100%;
}
.slides img {
  width: 100%;           /* cada slide tem a largura da viewport */
  height: 200px;          /* fixa a altura */
  object-fit: cover;      /* cobre a caixa sem distorcer (corta se necessário) */
  flex-shrink: 0;         /* impede encolher */
}

/* Botões laterais */
button.anterior, button.proximo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 10px 18px;
  border-radius: 50%;
  z-index: 10;
}

button.anterior:hover, button.proximo:hover {
  background: rgba(0,0,0,0.7);
}

button.anterior { left: 20px; }
button.proximo { right: 20px; }

/*==================== SOBRE ====================*/

.sobre { 
  box-shadow: 8px 4px 10px #001d39;
  background-color: #0080FF; 
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 20px;
}

.img-sobre {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 0; 
}

.img-sobre img {
  width: 25%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  height: 180px;
}

.img-sobre img:first-child {
  border-top-left-radius: 20px;
}

.img-sobre img:last-child {
  border-top-right-radius: 20px;
}

.sobre p {
  max-width: 90%;
  margin: 20px auto; 
  line-height: 1.6;
  color: white;
  font-size: 1.5rem;
}

.localizacao {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 8px 4px 10px #001d39;
  background-color: #0080FF;
  width: 42%;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 20px;
  padding: 20px;
}

.localizacao h2 {
  margin-bottom: 10px;
  color: white;
}

.infame {
  width: 600px;
  height: 450px;
  border-radius: 20px;
}


/*==================== CONTATO ====================*/
.contato {
  padding: 40px 20px;
}

.contato h2 {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.6;
  color: black;
}

.conteiner-contato {
  display: flex;
  background-color: #0080FF;
  margin-top: 30px;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
}

/* Imagem com texto sobreposto */
.imagem-com-texto {
  position: relative;
  
}

.imagem-com-texto img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;     
  border-bottom-left-radius: 15px;
}

.texto-sobre-img {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

/* Formulário ao lado da imagem */
.formulario {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.formulario p{
  color: white;
  font-size: 2rem;
}

.formulario form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.formulario input,
.formulario textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 180%;
}

.formulario button {
  background-color: black;
  color: #0080FF;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  text-align: center;
}

.formulario button:hover {
  background-color: black;
  transform: scale(1.05);
}

.campo-sexo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.opcoes-sexo {
  display: flex;
  gap: 30px;
}

.opcao {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.opcao input[type="radio"] {
  transform: scale(1.8);
  margin-right: 5px;
  accent-color: white;
}

.icone-sexo {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/*---------- script contato ----------*/
#caixaMensagem {
  display: none;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
  background-color: #e0ffe0;
  border: 1px solid #4caf50;
  color: #2e7d32;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  width: 50%;
}

#caixaMensagem.visivel {
  display: block;
  opacity: 1;
}

/* ==================== MEDIA QUERIES ==================== */

/* MOBILE - 375px */
@media (max-width: 375px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 15px 0;
  }

  header img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px; /* dá um espacinho entre logo e menu */
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  nav ul {
    flex-direction: row; /* lado a lado */
    justify-content: center;
    flex-wrap: wrap; /* se tiver muitos links, eles quebram certinho */
    gap: 15px;
  }

  nav a {
    font-size: 1.4rem;
  }

  .baner {
    width: 90%;
    padding: 10px;
  }

  .card {
    width: 90%;
    height: 420px;
  }

  .img-sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img-sobre img {
    width: 100%;
  }

  .img-sobre img:first-child {
    border-top-left-radius: 20px;
  }

  .img-sobre img:nth-child(2) {
    border-top-right-radius: 20px;
  }

  .img-sobre img:last-child {
    border-top-right-radius: 0px;
  }

  .sobre p {
    font-size: 1.1rem;
  }

  .conteiner-contato {
    flex-direction: column;
  }

  .texto-sobre-img {
    font-size: 1.5rem;
  }

  .formulario input,
  .formulario textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 90%;
  }

  .formulario button{
    width: 90%;
  }

  .opcoes-sexo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .imagem-com-texto img {
    border-top-left-radius: 15px;     
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }

  .texto-sobre-img {
    top: 50%;
    left: 50%;
  }

  .localizacao {
    width: 90%;
  }

  .infame {
    width: 90%;
    height: 300px;
    border-radius: 20px;
  }
}

/* TABLET - 768px */
@media (min-width: 768px) {
  header img {
    width: 90px;
    height: 90px;
  }

  nav a {
    font-size: 1.6rem;
  }

  .baner {
    width: 80%;
  }

  .card {
    width: 260px;
    height: 420px;
  }

  .sobre {
    width: 85%;
  }

  .sobre p {
    font-size: 1.3rem;
  }

  .formulario p {
    font-size: 1.5rem;
  }

  .texto-sobre-img {
    font-size: 1.8rem;
  }

  .formulario input,
  .formulario textarea {
    width: 100%;
  }

  .localizacao {
    width: 70%;
  }

  .infame {
    width: 90%;
    height: 400px;
    border-radius: 20px;
  }  
}  

  /* DESKTOP - 1280px */
  @media (min-width: 1280px){
    nav a {
      font-size: 1.8rem;
    }

    .baner {
      width: 700px;
    }

    .card {
      width: 300px;
    }

    .formulario input,
    .formulario textarea {
      width: 180%;
    }

  }

  /* DESKTOP LARGE - 1920px+ */
  @media (min-width: 1920px) {
    header {
      padding: 20px 100px;
    }

    nav a {
      font-size: 2.2rem;
    }

    .baner h1 {
      font-size: 2.5rem;
    }

    .card {
      width: 350px;
      height: 480px;
    }

    .sobre {
      width: 60%;
    }

    .sobre p {
      font-size: 1.8rem;
    }

    .formulario input,
    .formulario textarea {
      width: 180%;
    }
  }


